//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
         http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.modal.center(role='dialog')
    .modal-dialog
        .modal-content
            #errors-container.modal-header.header
                button.close(type='button' ng-click='$hide()' aria-hidden='true') &times;
                h4.modal-title(style='padding-right: 55px') Reset password
            form.form-horizontal(name='loginForm' ng-init='action == "login"')
                .modal-body.row
                    .col-sm-9.col-sm-offset-1
                        .details-row
                            label.col-sm-4.required New password:
                            .col-sm-8
                                input#user_password.form-control(enter-focus-next enter-focus-next-id='user_confirm' type='password' ng-model='user_info.password' placeholder='New password' required)
                        .details-row
                            label.col-sm-4.required Confirm:
                            .col-sm-8
                                input#user_confirm.form-control(type='password' ng-model='user_info.confirm' match='user_info.password' placeholder='Confirm new password' ng-required='action == "register"' on-enter='resetPassword(user_info)')
            .modal-footer
                button.btn.btn-primary(ng-disabled='resetForm.$invalid' ng-click='resetPassword(user_info)') Reset Password

