//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/clusters-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Ignite Clusters
        hr
    .docs-body(ng-controller='clustersController')
        +block-callout('joinTip(screenTip)')
        .links(ng-hide='clusters.length == 0')
            lable.labelHeader Clusters:
            table(st-table='clusters')
                tbody
                    tr(ng-repeat='row in clusters track by row._id')
                        td.col-sm-6(ng-class='{active: row._id == selectedItem._id}')
                            a(ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}, {{row.discovery.kind | displayValue:discoveries:'Discovery not set'}}
        button.btn.btn-primary(ng-click='createItem()') &nbspAdd cluster
        label(style='margin-left: 10px; margin-right: 10px') Use template:
        button.btn.btn-default.base-control(ng-init='create.template = templates[0].value' ng-model='create.template' data-template='/select' data-placeholder='Choose cluster template' bs-options='item.value as item.label for item in templates' bs-select)
        i.tiplabel.fa.fa-question-circle(bs-tooltip data-title='{{joinTip(templateTip)}}' type='button')
        hr
        form.form-horizontal(name='inputForm' ng-if='backupItem' novalidate)
            div(bs-collapse data-start-collapsed='false')
                .panel.panel-default
                    .panel-heading
                        h3
                            a(bs-collapse-toggle) General
                    .panel-collapse(bs-collapse-target)
                        .panel-body
                            .settings-row(ng-repeat='field in general')
                                +form-row
            div(bs-collapse data-start-collapsed='true')
                .panel-title(ng-show='expanded')
                    h3
                        a(bs-collapse-toggle='0' ng-click='expanded = !expanded;') {{expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
                .panel-collapse(bs-collapse-target)
                    .span(bs-collapse data-start-collapsed='true' data-allow-multiple='true')
                        .panel.panel-default(ng-repeat='group in advanced')
                            .panel-heading
                                h3
                                    a(bs-collapse-toggle) {{group.label}}
                                    i.tipLabel.fa.fa-question-circle(ng-if='group.tip' bs-tooltip='joinTip(group.tip)' type='button')
                                    i.tipLabel.fa.fa-question-circle.blank(ng-if='!group.tip')
                            .panel-collapse(bs-collapse-target)
                                .panel-body
                                    .settings-row(ng-repeat='field in group.fields')
                                        +form-row
                .panel-title
                    h3
                        a(bs-collapse-toggle='0' ng-click='expanded = !expanded;') {{expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
            button.btn.btn-primary(ng-disabled='inputForm.$invalid' ng-click='saveItem()') Save
            button.btn.btn-primary(ng-show='backupItem._id' ng-disabled='inputForm.$invalid' ng-click='saveItemAs()') Save As
            button.btn.btn-primary(ng-show='backupItem._id' ng-click='removeItem()') Remove