//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/clusters-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Ignite Clusters
        hr
    .docs-body(ng-controller='clustersController')
        +block-callout('{{screenTip.workflowTitle}}', 'joinTip(screenTip.workflowContent)', '{{screenTip.whatsNextTitle}}', 'joinTip(screenTip.whatsNextContent)')
        div(ng-hide='clusters.length == 0')
            .padding-dflt
                lable.labelHeader Clusters:
                table.links(st-table='clusters')
                    tbody
                        tr(ng-repeat='row in clusters track by row._id')
                            td(ng-class='{active: row._id == selectedItem._id}')
                                a(event-focus='defaultFocusId' ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}, {{row.discovery.kind | displayValue:discoveries:'Discovery not set'}}
        .padding-top-dflt
            button.btn.btn-primary(event-focus='defaultFocusId' ng-click='createItem()') Add cluster
            label(style='margin-left: 10px; margin-right: 10px') Use template:
            select.form-control.line-control(ng-model='template' ng-options='item.value as item.label for item in templates')
            i.tipLabel.fa.fa-question-circle(bs-tooltip data-title='{{joinTip(templateTip)}}' type='button')
        hr
        form.form-horizontal(name='inputForm' ng-if='backupItem' novalidate)
            .panel-group(bs-collapse ng-model='panels.activePanels' data-allow-multiple='true' ng-click='triggerDigest = true')
                .panel.panel-default
                    .panel-heading
                        h3
                            a(bs-collapse-toggle) General
                    .panel-collapse(bs-collapse-target)
                        .panel-body
                            .settings-row(ng-repeat='field in general')
                                +form-row('backupItem')
                div(ng-show='ui.expanded')
                    .advanced-options
                        i.fa.fa-chevron-circle-up(ng-click='toggleExpanded()')
                        a(ng-click='toggleExpanded()') {{ui.expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
                    .panel.panel-default(ng-repeat='group in advanced')
                        .panel-heading
                            h3
                                a(bs-collapse-toggle) {{::group.label}}
                        .panel-collapse(bs-collapse-target)
                            .panel-body
                                .settings-row(ng-repeat='field in group.fields')
                                    +form-row('backupItem')
            .advanced-options
                i.fa.fa-chevron-circle-up(ng-show='ui.expanded' ng-click='toggleExpanded()')
                i.fa.fa-chevron-circle-down(ng-show='!ui.expanded' ng-click='toggleExpanded()')
                a(ng-click='toggleExpanded()') {{ui.expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
            .section
                button.btn.btn-primary(ng-disabled='inputForm.$invalid' ng-click='saveItem()') Save
                button.btn.btn-primary(ng-show='backupItem._id' ng-disabled='inputForm.$invalid' ng-click='saveItemAs()') Copy
                button.btn.btn-primary(ng-show='backupItem._id' ng-click='removeItem()') Remove
