//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/metadata-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Cache Type Metadata
        hr
    .docs-body(ng-controller='metadataController')
        +block-callout('{{screenTip.workflowTitle}}', 'joinTip(screenTip.workflowContent)', '{{screenTip.whatsNextTitle}}', 'joinTip(screenTip.whatsNextContent)')
        div(ng-hide='metadatas.length == 0')
            .padding-dflt
                lable.labelHeader Types metadata:
                table.links(st-table='metadatas')
                    tbody
                        tr(ng-repeat='row in metadatas track by row._id')
                            td(ng-class='{active: row._id == selectedItem._id}')
                                a(event-focus='defaultFocusId' ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}
        .padding-top-dflt
            button.btn.btn-primary(ng-click='createItem()' event-focus='defaultFocusId') Add metadata
            button.btn.btn-primary(ng-click='loadFromDb()') Load from database
        hr
        form.form-horizontal(name='inputForm' ng-if='backupItem' novalidate)
            .panel-group(bs-collapse ng-model='panels.activePanels' data-allow-multiple='true' ng-click='triggerDigest = true')
                .panel.panel-default(ng-repeat='group in metadata')
                    .panel-heading
                        h3
                            a(bs-collapse-toggle) {{::group.label}}
                    .panel-collapse(role='tabpanel' bs-collapse-target)
                        .panel-body
                            .settings-row(ng-repeat='field in group.fields')
                                +form-row('backupItem')
        .section
            button.btn.btn-primary(ng-disabled='inputForm.$invalid' ng-click='saveItem()') Save
            button.btn.btn-primary(ng-show='backupItem._id' ng-disabled='inputForm.$invalid' ng-click='saveItemAs()') Copy
            button.btn.btn-primary.btn-second(ng-show='backupItem._id' ng-click='removeItem()') Remove
