//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends sidebar

append scripts
    script(src='/metadata-controller.js')

include ../includes/controls

block content
    .docs-header
        h1 Create and Configure Cache Type Metadata
        hr
    .docs-body(ng-controller='metadataController')
        +block-callout('{{screenTip.workflowTitle}}', 'joinTip(screenTip.workflowContent)', '{{screenTip.whatsNextTitle}}', 'joinTip(screenTip.whatsNextContent)')
        div(ng-hide='metadatas.length == 0')
            .padding-dflt
                lable.labelHeader Types metadata:
                table.links(st-table='metadatas')
                    tbody
                        tr(ng-repeat='row in metadatas track by row._id')
                            td.col-sm-6(ng-class='{active: row._id == selectedItem._id}')
                                a(event-focus='click' event-focus-id='defaultFocusId' ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}
        .padding-top-dflt
            button.btn.btn-primary(event-focus='click' event-focus-id='defaultFocusId' ng-click='panels.activePanel = [0]; createItem()') &nbspAdd metadata
            label(style='margin-left: 6px; margin-right: 10px') For:
            button.btn.btn-default(ng-model='template' data-template='/select' data-placeholder='Choose metadata type' bs-options='item.value as item.label for item in templates' bs-select)
            i.tiplabel.fa.fa-question-circle(bs-tooltip data-title='{{joinTip(templateTip)}}' type='button')
        hr
        .panel-group(bs-collapse ng-model='panels.activePanel' data-allow-multiple='true')
            .panel.panel-default(ng-show='selectedItem || backupItem')
                .panel-heading
                    h3
                        a(bs-collapse-toggle) Configure metadata
                .panel-collapse(role='tabpanel' bs-collapse-target)
                    .panel-body
                        form.form-horizontal(name='manualForm' ng-if='backupItem' novalidate)
                            .settings-row(ng-repeat='field in metadataManual')
                                +form-row
                            button.btn.btn-primary(ng-disabled='manualForm.$invalid' ng-click='saveItem()') Save
                            button.btn.btn-primary(ng-show='backupItem._id' ng-disabled='inputForm.$invalid' ng-click='saveItemAs()') Copy
                            button.btn.btn-primary.btn-second(ng-show='backupItem._id' ng-click='removeItem()') Remove
            .panel.panel-default
                .panel-heading
                    h3
                        a(bs-collapse-toggle) Load from database
                .panel-collapse(bs-collapse-target)
                    .panel-body
                        form.form-horizontal(name='dbForm' novalidate)
                            .settings-row(ng-repeat='field in metadataDb')
                                +form-row
                        div(ng-hide='tables.length == 0')
                            table.links(st-table='tables')
                                tbody
                                    tr(ng-repeat='row in tables')
                                        td.col-sm-6
                                            a {{$index + 1}}) {{::row.schemaName}} / {{::row.tableName}}
                        button.btn.btn-primary(ng-disabled='dbForm.$invalid' ng-click='saveItem()') Save
                        button.btn.btn-primary.btn-second(ng-show='backupItem._id' ng-click='removeItem()') Remove
                        button.btn.btn-primary.btn-second(ng-click='reloadMetadata()') Reload
