#queryTable {
    width: 100%;
}

#queryTable tr {
    cursor: default;
}

#queryTable tr {
    vertical-align: top;
}

#querySql {
    height: 150px;

    border: 1px solid #aaa;
}

.queryTd {
    width: 99%;
    padding: 0 10px;
}

#cacheTd {
    height: 100%;
}

#resultPanel {
    margin-top: 20px;
}

#queryResult {
    width: 100%;

    padding: 5px;
}

#queryResult .props {
    color: #666;
    font-size: smaller;
}

.resultRow {
    padding: 2px;
}

#defCacheSelect {
    padding: 0 2px;

    border: 1px solid #333;

    margin-top: 10px;

    width: 150px;

    font-size: 12px;

    overflow: auto;
}

#defCacheSelect div {
    padding: 2px 0;
}

#defCacheSelect div:hover {
    background: #eef;
}

#defCacheSelect .def {
    color: #11f;
    font-weight: bold;
}
