#queryTable {
    width: 100%;
}

#queryTable tr {
    cursor: default;
}

#queryTable tr {
    vertical-align: top;
}

#querySql {
    height: 150px;

    border: 1px solid #aaa;
}

.queryTd {
    width: 99%;
    padding: 0 10px;
}

#resultPanel {
    margin-top: 20px;
}

#queryResult {
    width: 100%;

    padding: 5px;
}

#queryResult .props {
    color: #666;
    font-size: smaller;
}

.resultRow {
    padding: 2px;
}
