
<div role="dialog" class="modal center">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header header">
        <div id="errors-container"></div>
        <button type="button" ng-click="$hide()" aria-hidden="true" class="close">&times;</button>
        <h1 class="navbar-brand pull-left"><a href="/">Apache Ignite Web Configurator</a></h1>
        <h4 class="modal-title">Authentication</h4>
        <p>Log in or register in order to collaborate</p>
      </div>
      <form name="loginForm" class="form-horizontal">
        <div class="modal-body row">
          <div class="col-sm-9 login col-sm-offset-1">
            <div ng-show="action == &quot;register&quot;" class="form-group">
              <label class="col-sm-3 control-label">Full Name:</label>
              <div class="controls col-sm-9">
                <input type="text" ng-model="user_info.username" placeholder="John Smith" focus-me="action==&quot;register&quot;" ng-required="action==&quot;register&quot;" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Email:</label>
              <div class="controls col-sm-9">
                <input type="email" ng-model="user_info.email" placeholder="you@domain.com" focus-me="action==&quot;login&quot;" required="required" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Password:</label>
              <div class="controls col-sm-9">
                <input type="password" ng-model="user_info.password" placeholder="Password" required="required" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer"><a ng-show="action != &quot;login&quot;" ng-click="action = &quot;login&quot;;" class="show-signup ng-hide">log in</a><a ng-show="action != 'register'" ng-click="action = &quot;register&quot;;" class="show-signup">sign up</a>&nbsp;or&nbsp;
        <button ng-click="auth(action, user_info)" ng-show="action == &quot;login&quot;" ng-disabled="loginForm.$invalid" class="btn btn-primary">Log In</button>
        <button ng-click="auth(action, user_info)" ng-show="action == &quot;register&quot;" ng-disabled="loginForm.$invalid" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>