//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends templates/layout

mixin lbl(txt)
    label.col-sm-2.labelFormField #{txt}

append scripts
    script(src='/profile-controller.js')

block container
    .row.greedy(ng-controller='profileController' ng-init='savedUser = #{JSON.stringify(filterUser(editableUser))}')
        .docs-content
            .docs-header
                h1 User profile
                hr
            .docs-body
                form.form-horizontal(name='profileForm' novalidate)
                    .col-sm-12
                        .col-sm-8.settings-row(style='padding: 0')
                            +lbl('User name:')
                            .col-sm-8
                                input.form-control(type='text' ng-model='editableUser.username' placeholder='Input name' required)
                        .col-sm-8.settings-row(style='padding: 0')
                            +lbl('New password:')
                            .col-sm-8
                                input.form-control(type='password', ng-model='editableUser.password' placeholder='Password' required)
                        .col-sm-8.settings-row(style='padding: 0')
                            +lbl('Confirm:')
                            .col-sm-8
                                input.form-control(type='password', ng-model='editableUser.confirm' placeholder='Confirm' required)
                    .col-sm-12.settings-row
                        button#save-btn.btn.btn-primary(ng-disabled='profileForm.$invalid' ng-click='saveUser()') Save

