//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
         http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
extends ../templates/layout

append scripts
    script(src='/sql-controller.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-chrome.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-sql.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js')

block container
    .row
        .col-sm-12
            .docs-content
                .docs-header
                    h1 Connect to Ignite and execute SQL queries
                    hr
                .docs-body(ng-controller='sqlController')
                    .block-callout
                        p(ng-bind-html='joinTip(screenTip)')
                    .tabs-below(bs-tabs bs-active-pane='tabs.activeTab')
                        div(title='Query #1' bs-pane)
                            .row
                                .col-sm-9
                                    div(style='height: 200px' ui-ace='{ theme: "chrome", mode: "sql",' +
                                        'require: ["ace/ext/language_tools"],' +
                                        'rendererOptions: {showPrintMargin: false, highlightGutterLine: false, fontSize: 14},' +
                                        'advanced: {enableSnippets: false, enableBasicAutocompletion: true, enableLiveAutocompletion: true}}'  ng-model='query')
                                .col-sm-3
                                    .links(ng-hide='caches.length == 0' style='margin-top: 0.65em')
                                        lable.labelHeader Caches:
                                        table(st-table='caches')
                                            tbody
                                                tr(ng-repeat='row in caches track by row._id')
                                                    td.col-sm-6(ng-class='{active: row._id == selectedItem._id}')
                                                        a(ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}, {{row.mode | displayValue:modes:'Cache mode not set'}}
                        div(title='Query #2' bs-pane)
                            .row
                    .settings-row
                        button.btn.btn-primary(ng-click='') Explain
                        button.btn.btn-primary(ng-click='') Execute
                        button.btn.btn-primary(ng-click='' disabled) Scan
                    //#resultPanel
                    //    strong Results
                    //
                    //    #queryResult
                    //        div(ng-repeat='r in results')
                    //            .resultRow
                    //                | {{r.id}} -> {{r.s}}
                    //                span.props  {{r.fields}}

                    div(ng-hide='results.length == 0' style='margin-top: 0.65em')
                        lable.labelHeader Results:
                        table.table-bordered(st-table='results')
                            tbody
                                tr(ng-repeat='row in results')
                                    td
                                        a(ng-click='selectItem(row)') {{$index + 1}}) {{row.name}}, {{row.mode | displayValue:modes:'Cache mode not set'}}