/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$logo-path: "https://www.filepicker.io/api/file/QagunjDGRFul2JgNCAli";
$input-height: 28px;
$ignite-red: #ec1c24;
$ignite-block-callout-left: #248fb2;
$ignite-block-callout-left-background: #f4f8fa;
$ignite-block-callout-right: #50af51;
$ignite-block-callout-right-background: #f3f8f3;

hr {
    margin: 20px 0;
}

.main-header .logo {
    height: auto;
}

.main-sidebar {
    padding-top: 60px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.modal.center .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.border-left {
    box-shadow: 1px 0 0 0 #eee inset;
}

.border-right {
    box-shadow: 1px 0 0 0 #eee;
}

.theme-line {
    background-color: #f9f9f9;
}

.theme-line header {
    background-color: #fff;
}

.theme-line header a.btn {
    border: 0 none;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.15);
}

.theme-line header a.btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.theme-line header a.btn.btn-link {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.theme-line header a.btn.btn-link:hover {
    color: #fff;
    text-decoration: none;
}

.theme-line .navbar-nav a {
    background-color: transparent;
}

.theme-line .navbar-nav a:hover,
.theme-line .navbar-nav a:active,
.theme-line .navbar-nav a:focus {
    background-color: transparent;
}

.theme-line .main-links {
    padding-top: 50px;
}

.theme-line .main-links h3 {
    margin-top: 0;
    font-size: 17px;
}

.theme-line .main-links .links a {
    color: #888;
}

.theme-line .main-links .links a:hover {
    text-decoration: none;
}

.theme-line #category-columns,
.theme-solid #category-columns {
    margin: 50px 30px 0;
}

.theme-line #category-columns h4 {
    text-transform: uppercase;
    font-weight: 300;
    color: #999;
    font-size: 14px;
}

.theme-line #category-columns ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.theme-line #category-columns ul li a {
    padding: 5px 0;
    display: block;
    font-size: 16px;
}

.theme-line #category-columns ul .view-all {
    font-size: 0.85em;
}

.theme-line .docs-header {
    color: #999;
    overflow: hidden;
}

.theme-line .docs-header h1 {
    color: #444;
    margin-top: 0;
    font-size: 22px;
}

.theme-line .btn-primary {
    border: 0 none;
    background-color: $ignite-red;
}

.theme-line .btn-primary:hover {
    background-color: #950d12;
}

.theme-line .main-content .nav-horizontal a {
    box-shadow: 0 0;
    border: 0 none;
    background-color: #fff;
    border-radius: 0;
    color: #aaa;
    padding: 6px;
    margin: 0 14px;
}

.theme-line .main-content .nav-horizontal a:hover {
    color: #999;
    border-bottom: 5px solid #ddd;
}

.theme-line .main-content .nav-horizontal a.active {
    border-bottom: 5px solid #888;
}

.theme-line .navbar-nav, .theme-line .sidebar-nav {
    ul li > a.active {
        cursor: default;
        pointer-events: none;
    }
}

.theme-line .sidebar-nav {
    color: #474a54;
    padding-bottom: 30px;

    ul {
        padding: 0;
        list-style: none;
        font-size: 14px;
        margin: 3px 0 0;
        li {
            color: #666;
            line-height: $input-height;

            span.fa-stack {
                margin-right: 5px;
                font-size: 12px;
                height: 26px;
            }

            a {
                font-size: 18px;
                color: #666;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
        }
    }
}

.theme-line .sidebar-nav ul li a:hover {
    text-decoration: none;
}

.theme-line .select,
.theme-line .typeahead {
    li a {
        color: #666;
        background-color: transparent;
    }

    li a:hover {
        color: $ignite-red;
    }

    .active {
        background-color: #eee;
    }
}

.theme-line .sidebar-nav ul li .subcategory {
    padding-left: 15px;
}

.theme-line .sidebar-nav h4 {
    margin-top: 2em;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
    color: #bbb;
}

.theme-line .sidebar-nav h4:first-child {
    margin-top: 0;
}

.theme-line .sidebar-nav .ask {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.theme-line .border-left .sidebar-nav {
    padding-left: 15px;
}

.theme-line .suggest {
    padding: 5px;
    display: inline-block;
    font-size: 12px;
}

.header {
    padding: 15px;
}

.header .has-github {
    padding-right: 136px;
}

.header h1.navbar-brand {
    height: 40px;
    width: 200px;
    padding: 0;
    margin: 5px 15px 0 0;
}

.header h1.navbar-brand a {
    text-indent: -99999px;
    background: no-repeat center center;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.header .nav.navbar-nav.pull-right {
    position: relative;
    right: -30px;
}

.header .nav.navbar-nav .not-link {
    padding: 15px;
    display: inline-block;
}

.header .nav.navbar-nav .stable,
.header .nav.navbar-nav .beta,
.header .nav.navbar-nav .private {
    font-size: 9px;
    padding: 3px 5px;
    display: inline-block;
    line-height: 8px;
    border-radius: 3px;
    margin-left: 6px;
    color: #fff;
    top: -2px;
    position: relative;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.header .nav.navbar-nav a:hover > .stable,
.header .nav.navbar-nav a:hover > .beta,
.header .nav.navbar-nav a:hover > .private {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.header .nav.navbar-nav .beta {
    background-color: #59c3d1;
}

.header .nav.navbar-nav .stable {
    background-color: #41b841;
}

.header .nav.navbar-nav .private {
    background-color: #333;
}

.theme-line header {
    border-bottom: 8px solid;
}

.theme-line header h2 {
    color: #aaa;
}

.theme-line header p {
    color: #666;
}

.theme-line header {
    border-bottom-color: $ignite-red;
}

.theme-line .navbar-nav {
    color: #888;
}

.theme-line .navbar-nav a {
    color: #bbb;
}

.theme-line header a.btn {
    background-color: $ignite-red;
}

.theme-line header a.btn:hover {
    background-color: #950d12;
}

.theme-line header .navbar-nav .tt-cursor {
    background-color: $ignite-red;
}

.theme-line header .navbar-nav a:hover, .theme-line header .navbar-nav .open > a {
    color: $ignite-red;
}

.theme-line .navbar-nav .active a {
    //font-weight: bold;
    color: $ignite-red;
}

.theme-line .navbar-nav .active a:hover {
    color: #950d12;
}

.theme-line .main-links .links a:hover {
    color: $ignite-red;
}

.theme-line .main-content a {
    color: $ignite-red;
}

.theme-line .main-content a:hover {
    color: #950d12;
}

.theme-line .sidebar-nav ul li a.active:before {
    background-color: $ignite-red;
}

.theme-line .sidebar-nav ul li a.active {
    color: $ignite-red;
}

.theme-line .sidebar-nav ul li a:hover, .theme-line .sidebar-nav ul li a.active:hover {
    color: #950d12;
}

.theme-line .main-content .nav-horizontal a.active {
    border-color: $ignite-red;
    color: $ignite-red;
}

.theme-line .main-content .nav-horizontal a:hover {
    color: #950d12;
}

.theme-line .main-content .nav-horizontal a.active:hover {
    border-color: #950d12;
}

.theme-line header .navbar-nav a.active, .theme-line #versions-list li a:hover strong, .theme-line #versions-list li a.active .current, .theme-line #versions-list li a:active .current {
    color: $ignite-red;
}

.theme-line header .navbar-nav a {
    font-size: 18px;
}

.theme-line.body-threes .section-right .threes-nav .btn-default:hover, .theme-line.page-docs.body-threes .section-right .threes-nav .pull-right a:hover {
    color: $ignite-red;
    border-color: $ignite-red;
}

.theme-line .section-right {
    padding-left: 30px;
}

.body-overlap .main-content {
    margin-top: 30px;
}

.body-box .main-content,
.body-overlap .main-content {
    padding: 30px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

body {
    font-weight: 400;
    font-family: Roboto Slab, serif;;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Roboto Slab, serif;
    margin-bottom: 10px;
}

.submit-vote.submit-vote-parent.voted a.submit-vote-button, .submit-vote.submit-vote-parent a.submit-vote-button:hover {
    background-color: $ignite-red;
}

div.submit-vote.submit-vote-parent.voted a.submit-vote-button:hover {
    background-color: #950d12;
}

a, .link .title {
    color: $ignite-red;
}

a:hover, .link:hover .title {
    color: #950d12;
}

.header h1.navbar-brand a {
    background-image: url("#{$logo-path}");
}

.header h1.navbar-brand {
    width: 96px;
}

.block-edit-parameters {
    text-align: right;
    padding-bottom: 5px;
}

.container-footer {
    margin-top: 20px;
}

/* Modal */
.modal {
    display: block;
    overflow: hidden;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    float: none;
}

// Close icon
.modal-header .close {
    margin-right: -2px;
}

.modal .modal-dialog {
    width: 610px;
}

.modal .modal-content {
    border-radius: 0;
    background-color: #f7f7f7;
}

.modal .modal-content .modal-header {
    background-color: #fff;
    text-align: center;
    color: #555;
    padding: 15px;
    font-family: "myriad-pro", sans-serif;
}

.modal .modal-content .modal-header h4 {
    font-family: "myriad-pro", sans-serif;
    font-size: 22px;
}

.modal .modal-content .modal-header h4 .fa {
    display: block;
    font-size: 41px;
    color: #ddd;
    margin-bottom: 5px;
}

.modal .modal-content .modal-header p {
    color: #aaa;
    font-size: 1em;
    margin: 3px 0 0;
}

.modal .modal-content .modal-spacer {
    padding: 10px 10px 0 10px;
}

.modal .modal-content .modal-footer {
    margin-top: 0;
}

.modal-body {
    padding-top: 15px;
}

h1.ignite-logo {
    background-image: url("#{$logo-path}");
}

.block-display-image img {
    max-width: 100%;
    max-height: 450px;
    margin: auto;
    display: block;
}

.greedy {
    min-height: 100%;
    height: #{"calc(100vh - 290px)"};
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 18px;
        padding-bottom: 10px;
    }
}

.details-row {
    padding: 0 10px;
}

.details-row, .settings-row {
    display: block;
    margin: 10px 0;

    label.table-header {
        line-height: $input-height;
    }

    [class*="col-"] {
        display: inline-block;
        vertical-align: middle;
        float: none;

        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    input[type="checkbox"] {
        line-height: 20px;
        margin-right: 5px;
    }

    .checkbox label {
        line-height: 20px;
        vertical-align: middle;
    }
}

button {
    margin-right: 5px;
}

h1,
h2,
h3 {
    user-select: none;
    font-weight: normal;
    /* Makes the vertical size of the text the same for all fonts. */
    line-height: 1;
}

h3 {
    color: black;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1.5em;
}

table tr:hover {
    cursor: pointer;
}

.btn {
    padding: 3px 6px;
}

button .caret, .btn .caret {
    float: right;
    margin-left: 5px;
    margin-top: 7px;
}

.base-control {
    text-align: left;
    padding: 3px 3px;
    height: $input-height;
}

.form-control {
    @extend .base-control;

    display: inline-block;

    button {
        text-align: left;
    }
}

.line-control {
    width: auto;
}

.theme-line .panel-heading {
    padding: 10px 10px;
    margin: 0;

    h3 {
        margin-bottom: 0;
    }

    h3 > a {
        color: black;
    }
}

.theme-line .panel-body {
    padding: 10px 20px;
}

.theme-line .main-content a.customize {
    margin-left: 5px;
}

.theme-line .panel-collapse {
    margin: 0;
}

.theme-line table.links {
    display: table;
    table-layout: fixed;

    td {
        padding-left: 18px;
    }

    .active a {
        color: $ignite-red;
        font-weight: bold;
    }

    a:hover {
        color: #950d12;
    }

    a {
        color: #666;
    }
}

.theme-line table.links-edit {
    @extend table.links;

    margin-top: 5px;
    margin-bottom: 5px;

    label {
        line-height: $input-height;
        color: #666;
    }
}

.theme-line table.links-edit-details {
    @extend table.links;

    margin-bottom: 10px;

    label {
        line-height: $input-height;
        color: #666;
    }

    td {
        padding: 0;

        .input-tip {
            padding: 0;
        }
    }
}

.zzz {
    color: $ignite-red;
    font-weight: bold;
}

.theme-line table.admin {
    tr:hover {
        cursor: default;
    }

    thead > tr th.header {
        padding: 0 0 10px;

        div {
            padding: 0
        }
    }

    margin-bottom: 10px;

    label {
        line-height: $input-height;
        color: #666;
    }

    thead > tr th, td {
        padding: 10px 10px;

        .input-tip {
            padding: 0;
        }
    }

    tfoot > tr > td {
        padding: 0;

        .pagination {
            margin: 10px 0;

            > .active > a {
                color: $ignite-red;
                font-weight: bold;
                border-color: #ddd;
                background-color: #eee;
            }
        }
    }
}

.theme-line table.sql-results {
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    td {
        padding: 3px 6px;
    }

    > thead > tr > td {
        padding: 3px 0;
    }

    thead > tr > th {
        padding: 3px 6px;

        line-height: $input-height;
    }
}

.panel-title a {
    font-size: 14px;
}

.panel-details {
    margin-top: 10px;

    padding: 0;

    border-radius: 5px;
    border: thin dotted lightgrey;
}

.table-details {
    border-radius: 5px;
    border: thin dotted lightgrey;

    margin-top: 10px;

    padding-left: 10px;
    padding-right: 5px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: $ignite-red;
}

.tooltip > .tooltip-inner {
    max-width: 400px;
    text-align: left;
    background-color: $ignite-red;
}

label {
    font-weight: normal;
    margin-bottom: 0;
}

.form-horizontal .checkbox {
    padding-top: 0;
}

.input-tip {
    display: block;
    overflow: hidden;
}

.labelHeader {
    font-weight: bold;
}

.labelField {
    float: left;
    margin-right: 5px;
}

.labelFormField {
    float: left;
    line-height: $input-height;
}

.labelLogin {
    margin-right: 10px;
}

.form-horizontal .form-group {
    margin: 0;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 0;
}

.tipField {
    float: right;
    line-height: $input-height;
    margin-left: 5px;
}

.tipLabel {
    font-size: 14px;
    margin-left: 5px;
}

.fieldSep {
    float: right;
    line-height: $input-height;
    margin: 0 5px;
}

.fieldButton {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

.fa-plus {
    cursor: pointer;
}

.fa-remove {
    color: $ignite-red;
    cursor: pointer;
}

.fa-floppy-o {
    cursor: pointer;
}

.fa-arrow-up {
    cursor: pointer;
}

.fa-arrow-down {
    cursor: pointer;
}

.fa-chevron-circle-down {
    color: $ignite-red;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

.fa-chevron-circle-up {
    color: $ignite-red;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

label.required:after {
    color: $ignite-red;
    content: ' *';
    display: inline;
}

.blank {
    visibility: hidden;
}

.alert {
    outline: 0
}

.alert.bottom, .alert.bottom-left, .alert.bottom-right, .alert.top,
.alert.top-left, .alert.top-right {
    position: fixed;
    z-index: 1050;
    margin: 20px
}

.alert.top, .alert.top-left, .alert.top-right {
    top: 50px
}

.alert.top {
    right: 0;
    left: 0
}

.alert.top-right {
    right: 0
}

.alert.top-right .close {
    padding-left: 10px
}

.alert.top-left {
    left: 0
}

.alert.top-left .close {
    padding-right: 10px
}

.alert.bottom, .alert.bottom-left, .alert.bottom-right {
    bottom: 0
}

.alert.bottom {
    right: 0;
    left: 0
}

.alert.bottom-right {
    right: 0
}

.alert.bottom-right .close {
    padding-left: 10px
}

.alert.bottom-left {
    left: 0
}

.alert.bottom-left .close {
    padding-right: 10px
}

//  Summary page
#cfgResult textarea {
    font-family: monospace;
    font-size: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input.ng-dirty.ng-invalid, button.ng-dirty.ng-invalid {
    border-color: $ignite-red;

    :focus {
        border-color: $ignite-red;
    }
}

.form-control-feedback {
    display: inline-block;
    color: $ignite-red;
    right: 18px;
    line-height: $input-height;
    pointer-events: initial;
}

.syntaxhighlighter {
    padding: 10px 5px;
    border-radius: 6px;
}

.nav-tabs > li > a {
    padding: 5px 5px;
}

.viewedUser {
    position: absolute;
    width: 100%;
    left: 0;

    text-align: center;

    margin-top: -15px;

    background-color: #f8d5d8;
}

a {
    cursor: pointer;
}

.st-sort-ascent:after {
    content: '\25B2';
}

.st-sort-descent:after {
    content: '\25BC';
}

.panel {
    margin-bottom: 0;
}

.panel-group {
    margin-bottom: 0;
}

.panel-group .panel + .panel {
    margin-top: 20px;
}

.section {
    margin-top: 20px;
}

.advanced-options {
    @extend .section;
    margin-bottom: 20px;
}

.margin-top-dflt {
    margin-top: 10px;
}

.margin-bottom-dflt {
    margin-bottom: 10px;
}

.margin-dflt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-top-dflt {
    padding-top: 10px;
}

.padding-bottom-dflt {
    padding-bottom: 10px;
}

.padding-dflt {
    padding-top: 10px;
    padding-bottom: 10px;
}

.theme-line .panel-title h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-callout-parent {
    overflow: hidden;
}

.block-callout {
    border-left: 5px solid;
    display: inline-block;
    vertical-align: top;
    width: 50%;

    i {
        padding: 10px 5px 0 10px;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 0;
    }

    p {
        padding: 5px 0 10px 10px;
        margin: 0;
    }

    label {
        font-weight: bold;
    }
}

.block-callout-left {
    @extend .block-callout;

    background-color: $ignite-block-callout-left-background;
    border-color: $ignite-block-callout-left;

    i {
        color: $ignite-block-callout-left;
    }

    label {
        color: $ignite-block-callout-left;
    }
}

.block-callout-right {
    @extend .block-callout;

    background-color: $ignite-block-callout-right-background;
    border-color: $ignite-block-callout-right;

    i {
        color: $ignite-block-callout-right;
    }

    label {
        color: $ignite-block-callout-right;
    }
}

.ace_editor, #ace_document {
    margin: 0.65em 0 0 0;

    width: 100%;
    height: 400px;

    .ace_gutter {
        background: transparent !important;
        border: 1px #ddd;
        border-right-style: solid;
    }

    .ace_gutter-cell, .ace_folding-enabled > .ace_gutter-cell {
        padding-left: 0.65em;
        padding-right: 0.9em;
    }
}

.loading-indicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.7em;

    :before {
        display: inline-block;
        margin: 0 0.4em;
        min-width: 1em;
        min-height: 1em;
        border: 4px solid #646464;
        border-right-color: #e6e6e6;
        border-left-color: #e6e6e6;
        content: "";
        -webkit-animation: halfspin 1s ease infinite;
        -moz-animation: halfspin 1s ease infinite;
        -o-animation: halfspin 1s ease infinite;
        animation: halfspin 1s ease infinite;
        border-radius: 100%;
    }
}

@-webkit-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-moz-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
