//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/caches.js')

include includes/controls

block content
    .docs-header
        h1 Caches
        p Create and configure Ignite caches.
        hr
    .docs-body(ng-controller='cachesController')
        .links(ng-hide='caches.length == 0')
            table.col-sm-12(st-table='caches')
                tbody
                    tr(ng-repeat='row in caches track by row._id')
                        td.col-sm-6(ng-class='{active: row._id == selectedItem._id}')
                            a(ng-click='selectItem(row)') {{$index + 1}}. {{row.name}}, {{row.mode | displayValue:modes:'Cache mode not set'}}, {{row.atomicityMode | displayValue:atomicities:'Cache atomicity not set'}}
        button.btn.btn-primary(ng-click='createItem()') Add cache
        hr
        form.form-horizontal(name='inputForm' ng-if='backupItem' novalidate)
            div(bs-collapse data-start-collapsed='false')
                .panel.panel-default
                    .panel-heading
                        h3
                            a(bs-collapse-toggle) General
                    .panel-collapse(bs-collapse-target)
                        .panel-body
                            .settings-row(ng-repeat='field in general')
                                +form-row
            div(bs-collapse data-start-collapsed='true')
                .panel-title(ng-show='expanded')
                    h3
                        a(bs-collapse-toggle='0' ng-click='expanded = !expanded;') {{expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
                .panel-collapse(bs-collapse-target)
                    .span(bs-collapse data-start-collapsed='true' data-allow-multiple='true')
                        .panel.panel-default(ng-repeat='group in advanced')
                            .panel-heading
                                h3
                                    a(bs-collapse-toggle) {{group.label}}
                            .panel-collapse(bs-collapse-target)
                                .panel-body
                                    .settings-row(ng-repeat='field in group.fields')
                                        +form-row
                .panel-title
                    h3
                        a(bs-collapse-toggle='0' ng-click='expanded = !expanded;') {{expanded ? 'Hide advanced settings...' : 'Show advanced settings...'}}
            button.btn.btn-primary(ng-disabled='cachesForm.$invalid' ng-click='saveItem()') Save
            button.btn.btn-primary.btn-second(ng-show='backupItem._id' ng-click='removeItem()') Remove
