//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/persistences.js')

include includes/controls

block content
    .docs-header
        h1 Persistence
        p Create and configure Ignite persistence.
        hr
    .docs-body(ng-controller='persistenceController')
        .links(ng-hide='persistences.length == 0')
            table.col-sm-12(st-table='persistences')
                tbody
                    tr(ng-repeat='row in persistences track by row._id')
                        td.col-sm-6(ng-class='{active: row._id == selectedItem._id}')
                            a(ng-click='selectItem(row)') {{$index + 1}}. {{row.name}}, {{row.database | displayValue:databases:'Database not set'}}
        button.btn.btn-primary(ng-click='createItem()') Add
        hr
        form.form-horizontal(name='inputForm' ng-if='backupItem' novalidate)
            div(bs-collapse data-start-collapsed='false')
                .panel.panel-default
                    .panel-heading
                        h3
                            a(bs-collapse-toggle) Connection
                    .panel-collapse(bs-collapse-target)
                        .panel-body
                            .settings-row(ng-repeat='field in connection')
                                +form-row
        .links(ng-hide='data.tables.length == 0')
            table.table-bordered.table-condensed.col-sm-12(st-table='data.tables')
                thead
                    tr
                        th Schema/Table
                        th Key class
                        th Value class
                tbody
                    tr(ng-repeat='row in data.tables')
                        td
                            input(type='checkbox' ng-if='!row.tableName' ng-checked='row.use' ng-click='data.curTableIdx = -1')
                            a(ng-if='!row.tableName' style='margin-left: 5px' ng-click='data.curTableIdx = -1') {{row.schemaName}}
                            input(type='checkbox' ng-if='row.tableName' style='margin-left: 10px' ng-checked = 'row.use' ng-click='data.curTableIdx = $index')
                            a(ng-if='row.tableName' style='margin-left: 5px' ng-click='data.curTableIdx = $index') {{row.tableName}}
                        td
                            a(ng-show='data.curTableIdx != $index' ng-click='data.curTableIdx = $index; curKeyClass = data.tables[$index].keyClass') {{row.keyClass}}
                            input(type='text' ng-show='data.curTableIdx == $index' ng-model='curKeyClass' placeholder='Key class full name')
                        td
                            a(ng-show='data.curTableIdx != $index' ng-click='data.curTableIdx = $index; curValueClass = data.tables[$index].valueClass') {{row.valueClass}}
                            input(type='text' ng-show='data.curTableIdx == $index' ng-model='curValueClass' placeholder='Value class full name')
        .links(ng-hide='data.curTableIdx < 0')
            table.table-bordered.table-condensed.col-sm-12(st-table='data.tables[data.curTableIdx].fields')
                thead
                    tr
                        th.col-sm-1 Use
                        th.col-sm-1 Key
                        th.col-sm-1 Ak
                        th.col-sm-2 DB Name
                        th.col-sm-2 DB Type
                        th.col-sm-2 Java Name
                        th.col-sm-2 Java Type
                tbody
                    tr(ng-repeat='row in data.tables[data.curTableIdx].fields')
                        td.col-sm-1
                            input(type='checkbox' ng-checked='row.use')
                        td.col-sm-1
                            input(type='checkbox' ng-checked='row.key')
                        td.col-sm-1
                            input(type='checkbox' ng-checked='row.ak')
                        td.col-sm-2
                            a(ng-click='data.curFieldIdx = $index') {{row.dbName}}
                        td.col-sm-2
                            a {{row.dbType}}
                        td.col-sm-2
                            a(ng-show='data.curFieldIdx != $index' ng-click='data.curFieldIdx = $index; curJavaName = data.tables[data.curTableIdx].fields[$index].javaName') {{row.javaName}}
                            input(type='text' ng-show='data.curFieldIdx == $index' ng-model='curJavaName' placeholder='Field Java name')
                        td.col-sm-2
                            a(ng-show='data.curFieldIdx != $index' ng-click='data.curFieldIdx = $index; curJavaType = data.tables[data.curTableIdx].fields[$index].javaType') {{row.javaType}}
                            input(type='text' ng-show='data.curFieldIdx == $index' ng-model='curJavaType' placeholder='Field Java type')
            button.btn.btn-primary(ng-disabled='inputForm.$invalid' ng-click='saveItem()') Save
            button.btn.btn-primary.btn-second(ng-show='backupItem._id' ng-click='removeItem()') Remove
            button.btn.btn-primary.btn-second(ng-click='reloadMetadata()') Reload


