<div class="row" ng-controller="adminController">
    <div class="docs-content">
        <div class="docs-header">
            <h1>Users</h1>
            <p>List of registered users</p>
            <hr>
        </div>
        <div class="docs-body">
            <div ng-class="{alert: true, 'alert-danger': alertType == danger, 'alert-success': alertType == 'success'}"
                 ng-show="alertStr">
                {{alertStr}}
            </div>
            
            <table class="table table-striped" st-table="userListDisplay" st-safe-src="userList">
                <thead>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
                </tr>
                <tr>
                    <th st-sort="username">User name</th>
                    <th st-sort="email">Email</th>
                    <th st-sort="lastLogin">Last login</th>
                    <th st-sort="lastLogin">Admin</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userListDisplay">
                    <td>{{user.username}}</td>
                    <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>
                        <span class="small">{{user.lastLogin | date:'medium'}}</span>
                    </td>
                    <td>
                        <input type="checkbox" ng-disabled="user.adminChanging" ng-model="user.admin" 
                               ng-change="toggleAdmin(user)">
                    </td>
                    <td width="1%">
                        <a href ng-click="removeUser(user)" ng-show="user._id != loggedInUser._id" title="Remove user">
                            <span class="glyphicon glyphicon-remove" style="color: red"></span>
                        </a>
                    </td>
                    <td width="1%">
                        <a ng-href="become?userId={{user._id}}" ng-show="user._id != loggedInUser._id"
                           title="View user's configurations">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

